In [33]:
import pandas as pd
import numpy as np

df = pd.read_excel("data/data.xlsx")

df

          age  income student credit_rating buys_computer
0      < = 30    high      no          fair            no
1      < = 30    high      no     excellent            no
2   31 ... 40    high      no          fair           yes
3        > 40  medium      no          fair           yes
4        > 40     low     yes          fair           yes
5        > 40     low     yes     excellent            no
6   31 ... 40     low     yes     excellent           yes
7      < = 30  medium      no          fair            no
8      < = 30     low     yes          fair           yes
9        > 40  medium     yes          fair           yes
10     < = 30  medium     yes     excellent           yes
11  31 ... 40  medium      no     excellent           yes
12  31 ... 40    high     yes          fair           yes
13       > 40  medium      no     excellent            no

In [34]:
# A1
# Calculate prior probability

print(f"There are {df['buys_computer'].nunique()} classes for this problem.")

pos = "yes"
neg = "no"

# Total number of instances
total = df.shape[0]

# Number of positive instances and negative instances
num_NO = len(df[df['buys_computer'] == neg])
num_YES = len(df[df['buys_computer'] == pos])

# Calculate probability 
print(f"Probability of P({pos}) is: {num_YES / total}")
print(f"Probability of P({neg}) is: {num_NO / total}")

There are 2 classes for this problem.
Probability of P(yes) is: 0.6428571428571429
Probability of P(no) is: 0.35714285714285715

In [35]:
# A2
# Calculate class conditional density for various features and classes

# Seperate dataframe based on positive and negative labels
pos_data = df[df["buys_computer"] == pos]
neg_data = df[df["buys_computer"] == neg]

# Class conditional density table for given attribute
def class_conditional_density_table():

    # Initialize dataframe to present table
    temp = pd.DataFrame()

  Age class/label Target class/label  Target class count
0          < = 30                 no                   5
1       31 ... 40                 no                   5
2            > 40                 no                   5
3          < = 30                yes                   9
4       31 ... 40                yes                   9
5            > 40                yes                   9